* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.box {
  position: relative;
  background-color: navy;
  width: 200px;
  height: 200px;
  margin: 20px;
  z-index: 10;
}

.relative {
  position: relative;
  background-color: rgb(133, 168, 209);
  top: 100px;
  left: 100px;
  z-index: 9;
}

.fixed {
  position: fixed;
  background-color: teal;
  top: 20px;
  right: 20px;
}

.absolute {
  position: absolute;
  background-color: rgb(187, 255, 195);
  top: 10px;
  right: 20px;
  width: 50px;
  height: 50px;
}

.sticky {
  background-color:rgb(153, 221, 255);
  position: sticky;
  top: 0;
  left: 0;
}
