* {
  box-sizing: border-box;
}

body {
  background: rgb(195, 196, 255)
}

img {
  max-width: 100%;
}

.secret-word {
  color:rgb(128, 0, 255);
  cursor:cell;

}

.secret2 {
  max-width:200px;
  position:fixed;
  bottom:20px;
  left:20px;
  display:none;
}

.secret-word:hover .secret2 {
  display:block;
}

.secret-btn {
  background: rgb(248, 255, 164);
  padding:30px;
  display:inline-block;
}

.secret-btn:hover {
  background: rgb(243, 255, 22);
}

.secret {
  max-width:200px;
  position:fixed;
  bottom:20px;
  left:20px;
  opacity:0;
}

.secret-btn:hover + .secret {
  opacity:1;
}

.object {
background: rgb(205, 154, 174);
width: 200px;
height:200px;
border-radius:50%;
position:fixed;
top:400px;
left:50%;
transition: background 1s, border-radius 2s, transform 1s;
}

.object:hover {
  background:rgb(255, 79, 164);
  border-radius: 0;
  transform:scale(1.3);
  cursor:pointer;
}
